services:
  zipkin-server:
    image: openzipkin/zipkin:3.5.0
    restart: always
    ports:
      - "9411:9411"
    mem_limit: 1024m

    environment:
      - STORAGE_TYPE=mem

  service-a:
    build: ./service-a
    ports:
      - "8080:8080"
    mem_limit: 512m
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - CONFIG_SERVER_USR=${CONFIG_SERVER_USR}
      - CONFIG_SERVER_PWD=${CONFIG_SERVER_PWD}
    depends_on:
      config-server:
        condition: service_healthy  # Ensures service-a waits for the healthcheck to pass
      zipkin-server:
        condition: service_healthy  # Ensures service-a waits for the healthcheck to pass
      kafka:
        condition: service_healthy # Ensures service-a waits for Kafka to be healthy before starting

  service-b:
    build: ./service-b
    ports:
      - "8081:8081"
    mem_limit: 512m
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - CONFIG_SERVER_USR=${CONFIG_SERVER_USR}
      - CONFIG_SERVER_PWD=${CONFIG_SERVER_PWD}
    depends_on:
      config-server:
        condition: service_healthy  # Ensures service-a waits for the healthcheck to pass
      zipkin-server:
        condition: service_healthy # Ensures service-a waits for the healthcheck to pass


  config-server:
    build: ./config-server
    mem_limit: 512m
    ports:
      - "8888:8888"
    environment:
      - SPRING_PROFILES_ACTIVE=docker,native
      - ENCRYPT_KEY=${CONFIG_SERVER_ENCRYPT_KEY}
      - SPRING_SECURITY_USER_NAME=${CONFIG_SERVER_USR}
      - SPRING_SECURITY_USER_PASSWORD=${CONFIG_SERVER_PWD}
    volumes:
      - ./config-repo:/config-repo
    healthcheck:
      # Fix: The test command must be a valid list or string, and indentation matters
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 5s   # Reduced interval for faster startup during dev
      timeout: 5s
      retries: 5
      start_period: 10s # Gives the JVM time to warm up before failing checks
    depends_on:
      zipkin-server:
        condition: service_healthy
  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@localhost:9093
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      # Logic: 9092 for your Mac, 9094 for other Docker containers
      - KAFKA_LISTENERS=EXTERNAL://:9092,INTERNAL://:9094,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=EXTERNAL://localhost:9092,INTERNAL://kafka:9094
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=EXTERNAL:PLAINTEXT,INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      - KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
    healthcheck:
      # This ensures the port is actually open before other services start
      test: [ "CMD", "nc", "-z", "localhost", "9094" ]
      interval: 5s
      timeout: 5s
      retries: 10
